<!-- projeto_estoque/estoque/templates/estoque/novo_item.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Novo Item</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'estoque/css/estoque.css' %}">
</head>
<body>
    <div class="container">
        <h2>Novo Item</h2>

        <!-- Cria um formulário com o método de envio POST -->
        <form method="post">
            <!-- Adiciona um token CSRF para proteção contra CSRF -->
            {% csrf_token %}

            <!-- Renderiza o formulário como parágrafos -->
            {{ form.as_p }}

            <!-- Cria um botão de submissão do formulário -->
            <button class="button" type="submit">Adicionar</button>
        </form>
    </div>
</body>
</html>

<!--Este é um arquivo HTML que será usado para renderizar o formulário de criação de um novo 
    item no estoque. 
Ele inclui tags HTML para criar a estrutura do formulário. O formulário utiliza o método 
POST para submeter os dados. 
A tag {% csrf_token %} adiciona um token CSRF para proteção contra CSRF (Cross-Site 
Request Forgery). 
{{ form.as_p }} renderiza o formulário, exibindo cada campo como um parágrafo. 
Por fim, o botão de submissão do formulário é criado com <button type="submit">Adicionar
</button>.-->
