<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Formulário de Cadastro de Clientes</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'appcodecolinas/estiloindex.css' %}">
</head>
<body>
    <h1>Formulário de Cadastro de Clientes</h1>
    <h2>SENAI-MG Uberaba CodeColinas</h2>

    <div class="container">
        <a href="{% url 'cadastrocliente' %}" class="btn">Acessar Cadastro</a>
    </div>
</body>
</html>
